.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #283134;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.magic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.card-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

p {
  font-family: 'Exo', sans-serif;
  margin-left: 20px;
}